body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px;
  padding: 10px;
}

a{
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.addUser, .addRole, .submitButton{
  cursor: pointer;
  margin:5px;
  padding: 5px;
}

.role{
  padding: 8px;
}

.deleteRole{
  cursor: pointer;
  margin:0px 10px 0px 0px;
  float: right;
}

.cbRole, .role{
  margin:14px 0px 5px 5px;
  text-transform: uppercase;
  cursor: default;
}

.childBox{
  background-color: #ffc;
  display:inline-block;
  border: 1px solid #bbb;
  width:24.5%;
}

.rolesBox{
  line-height: 2;
  margin: 0;
  padding-top: 10px;
}

.rightSide{
  width:39%;
  float: right;
  visibility: hidden;
}

.leftSide{
  margin: 0px 0px 0px 10px;
  width: 480px;
}

.bothSides{
  width:100%;
}

button{
  margin:5px;
}

.h3{
  margin: 5px 0px 10px 5px;
}

.userBox{
  position: relative;
  vertical-align: bottom;
  border: 1px solid #ddd;
  padding: 3px;
}

.userBox h3{
  position: absolute;
  top:3px;
  left:3px;
}

.userBox button{
  position: absolute;
  top:0px;
  right:5px;
  padding: 3px;
}

.isNotSelected{
  border:1px solid rgba(35, 35, 35, .5) !important;
  color: #fff;
  background-color: rgba(35, 35, 200, .6) !important;
}

.isSelected{
  border:1px solid rgba(225, 35, 35, .8) !important;
  color: #fff;
  background-color: rgba(225, 135, 135, .8) !important;
}



